<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MySql.Data" version="6.9.8" targetFramework="net40" />
  <package id="PhpNet.ClassLibrary" version="0.1" targetFramework="net40" />
  <package id="PhpNet.Core" version="0.1" targetFramework="net40" />
  <package id="PhpNet.Core.Parsers" version="0.1" targetFramework="net40" />
  <package id="PhpNet.Extension.PDO" version="0.1" targetFramework="net40" />
</packages>